@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Light.woff2") format("woff2"),
  url("../fonts/FuturaPT-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT Book";
  src: url("../fonts/") format("woff2"),
  url("../fonts/FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Medium.woff2") format("woff2"),
  url("../fonts/FuturaPT-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"),
  url("../fonts/FuturaPT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family: "Futura PT", "Arial", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
  color: #949494;
  background-color:#F9F8F8;
  margin: 0;
  padding: 0;
}

img{
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1390px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Button */

.btn{
  display: inline-block;
  padding: 22px 27px;
  border: none;
  background: none;
  background-color: #333333;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  text-align: center;
  vertical-align: baseline;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
}

/* Section Heading */

.section-heading{
  margin: 0;
  margin-bottom: 80px;
  font-size: 48px;
  line-height: 20px;
  color: #333333;
  text-align: center;
}

/* Inner Heading */

.inner-heading{
  margin: 0;
  font-weight: 500;
  font-size: 36px;
  line-height: 56%;
  color: #333333;
}

/* Site Header */

.site-header{
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  background-color: #F9F8F8;
}

.site-header-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 11px;
  padding-bottom: 9px;
}

.clinic-address{
  display: flex;
  align-items: center;
  font-style: normal;
  margin-right: 8px;
}

.clinic-address::before{
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 9px;
  background-image: url(../img/home.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  content: "";
}

.phone-numbers{
  display: flex;
  align-items: center;
}

.phone-numbers::before{
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 9px;
  background-image: url(../img/phone.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.phone-link{
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s ease,
  opacity 0.3s ease;
}

.phone-link:hover{
  color: #FFBD54;
}

.phone-link:active{
  color: #333333;
  opacity: 0.5;
}

.dot{
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin: 0 9px;
  background-color: #FFBD54;
}

.working-hours{
  display: flex;
  align-items: center;
}

.working-hours::before{
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 9px;
  background-image: url(../img/schedule.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.working-hours span{
  display: inline-block;
}

.working-hours span:not(:last-child){
  margin-right: 17px;
}

/* Site Navigation */

.site-nav{
  position: relative;
  background-color: #FFFFFF;
  border: 1px solid #F3F3F3;
}

.site-nav-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link-wrapper{
  width: 150px;
}

.logo-link{
  position: absolute;
  top: 50%;
  left: 65px;
  transform: translateY(-50%);
  transition: opacity 0.3s ease;
}

.logo-link:hover{
  opacity: 0.8;
}

.logo-link:active{
  opacity: 0.5;
}

.logo{
  display: inline-block;
  vertical-align: middle;
}

/* nav menu */

.nav-menu{
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 15px;
  list-style-type: none;
  flex-wrap: wrap;
}

.nav-link{
  display: flex;
  align-items: center;
  padding: 19px 27px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  text-decoration: none;
  transition: background-color 0.3s ease,
  opacity 0.3s ease;
}

.nav-link:hover{
  background-color: #FFBD54;
}

.nav-link:active{
  opacity: 0.5;
}

.nav-link-active::before{
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 12px;
  background-image: url(../img/active.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.nav-link-active:hover,
.nav-link-active:active{
  background-color: transparent;
  opacity: 1;
}

.btn-ask-question{
  display: flex;
  align-items: center;
  color: #333333;
  background-color: transparent;
  transition: background-color 0.3s ease,
  opacity 0.3s ease;
}

.btn-ask-question::before{
  display: inline-block;
  width: 23px;
  height: 21px;
  margin-right: 5px;
  background-image: url(../img/pet.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.btn-ask-question:hover{
  color: #fff;
  background-color: #333333;
}

.btn-ask-question:active{
  opacity: 0.5;
}

/* MAIN */

.main-section{
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Promo Section */

.promo-section{
  padding-top: 153px;
  padding-bottom: 321px;
  background-image: url(../img/promo-bg-left.png), 
  url(../img/promo-bg-right.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-size: contain, auto;
}

.promo-section-content{
  max-width: 608px;
  margin-left: auto;
}

.page-heading{
  margin: 0;
  margin-bottom: 29px;
  font-size: 70px;
  line-height: 64px;
  color: #333333;
}

.page-heading span{
  color: #1c97b6;
}

.page-info{
  margin: 0;
  margin-bottom: 38px;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
}

.btn-our-services{
  padding: 15px 48px;
  border-radius: 3px;
  transition: background-color 0.3s ease,
  opacity 0.3s ease,
  color 0.3s ease;
}

.btn-our-services:hover{
  color: #333333;
  background-color: #FFBD54;
}

.btn-our-services:active{
  opacity: 0.5;
}

/* Comments Section */

.comments-section{
  margin-bottom: 191px;
}

.comments-section-content{
  text-align: center;
}

.comments-hr{
  width: 140px;
  height: 1px;
  background-color:#DBDBDB;
  border: none;
}

.comment{
  position: relative;
  width: 753px;
  margin: 0;
  margin-top: 43px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #949494;
}

.comment::before{
  position: absolute;
  top: -50%;
  left: -55px;
  transform: translate(-100%, 0);
  display: inline-block;
  width: 142px;
  height: 128px;
  background-image: url(../img/comment-left.png);
  background-repeat: no-repeat;
  background-position: top right;
  content: "";
}

.comment::after{
  position: absolute;
  bottom: -50%;
  right: -36px;
  transform: translate(100%, 50%);
  display: inline-block;
  width: 142px;
  height: 128px;
  background-image: url(../img/comment-right.png);
  background-repeat: no-repeat;
  background-position: top left;
  content: "";
}

.comment-author{
  margin: 0;
  margin-top: 35px;
  font-weight: 500;
  color: #333333;
}

/* Services Section */

.slider-wrapper{
  position: relative;
  z-index: 1;
  max-width: 1310px;
  padding-bottom: 14px;
  margin-left: auto;
  margin-right: auto;
}

.slider-track{
  display: flex;
  padding: 0;
  margin: 0 30px;
  list-style-type: none;
  overflow: hidden;
}

.slider-item{
  flex-shrink: 0;
}

.slider-item:not(:last-child){
  margin-right: 13px;
}

.slider-link{
  display: inline-block;
  width: 193px;
  min-height: 200px;
  padding: 30px 32px 28px 32px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  text-align: center;
  text-decoration: none;
  white-space: wrap;
  background-color: #fff;
  border: 1px solid #F3F3F3;
  border-radius: 5px;
  transition: color 0.3s ease,
  opacity 0.3s ease;
}

.slider-link:hover{
  color: #FFBD54;
}

.slider-link:active{
  opacity: 0.5;
}

.slider-img-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 126px;
  height: 100px;
}

.slider-img{
  display: block;
}


.slider-btn{
  display: inline-block;
  width: 45px;
  height: 45px;
  border: none;
  background-color: transparent;
  position: absolute;
  z-index: 5;
  top: 50%;
  transition: background-color 0.3s ease,
  opacity 0.3s ease;
}

.slider-btn-prev{
  left: 0;
  transform: translate(-50%, -50%);
  background-image: url(../img/prev.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.slider-btn-next{
  right: 0;
  transform: translate(50%, -50%);
  background-image: url(../img/next.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.slider-btn:hover{
  background-color: #fff;
}

.slider-btn:active{
  opacity: 0.5;
}

.service-info{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 42px 35px;
  background-color: #fff;
  border-radius: 0px 5px 5px 5px;
}

.service-info-img{
  display: block;
  margin-right: 67px;
}

.service-info-text h3{
  margin-bottom: 18px;
}

.service-info-text p{
  margin: 0;
  margin-top: 9px;
}

.service-info-text p:last-child{
  margin-bottom: 34px;
}

.service-buttons{
  display: flex;
  align-items: center;
  margin-top: 34px;
}

.service-yellow-btn{
  max-width: 185px;
  padding: 15px 36px;
  margin-right: 21px;
  background-color: #FFBD54;
  border-radius: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s ease,
  opacity 0.3s ease;
}

.service-yellow-btn:hover{
  background-color: #333333;
}

.service-yellow-btn:active{
  opacity: 0.5;
}

.service-black-btn{
  max-width: 241px;
  padding: 15px 37px;
  border-radius: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s ease,
  opacity 0.3s ease;
}

.service-black-btn:hover{
  background-color: #FFBD54;
}

.service-black-btn:active{
  opacity: 0.5;
}

/* Event Form Section */

.events-form-section{
  position: relative;
  margin-top: 235px;
  margin-bottom: 216px;
  background-image: url(../img/event-form-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.events-form-section::before{
  position: absolute;
  top: calc(50% + 8px);
  right: 60px;
  transform: translateY(-56%);
  display: inline-block;
  width: 613px;
  height: 481px;
  background-image: url(../img/news-dog-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  content: "";
}

.events-form-section-content{
  padding: 90px 150px;
}

.events-form-section-content h2{
  margin-bottom: 32px;
  color: #ffffff;
  text-align: left;
}

.events-form{
  display: flex;
  align-items: center;
}

.events-form input{
  padding: 17px 22px 11px 22px;
  margin-right: 21px;
  background-color: #FFFFFF;
  border: none;
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;
}

.events-form input:invalid{
  color: #D81D04;
  border: 1px solid #D81D04;
}

.events-form input:valid{
  color: #00B031;
  border: 1px solid #00B031;
}

.events-form input::placeholder{
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.event-form-btn{
  max-width: 188px;
  padding: 15px 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  border-radius: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  outline: none;
}

.event-form-btn:hover{
  color: #fff;
  background-color: #FFBD54;
}

.event-form-btn:active{
  opacity: 0.5;
}

/* Site Footer */

.site-footer{
  padding-top: 54px;
  padding-bottom: 23px;
  background-color: #F3F3F3;
}

.site-footer-content{
  display: flex;
}

.footer-nav-menu{
  display: flex;
  flex-direction: column;
}


