@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2"),
  url("../fonts/FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Medium.woff2") format("woff2"),
  url("../fonts/FuturaPT-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"),
  url("../fonts/FuturaPT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Futura PT", "Arial", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
  color: #949494;
  background-color:#F9F8F8; 
}

img{
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1390px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Button */

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 27px;
  border: none;
  background: none;
  background-color: #333333;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
}

/* Section Heading */

.section-heading{
  margin: 0;
  margin-bottom: 80px;
  font-size: 48px;
  line-height: 1.2;
  color: #333333;
  text-align: center;
}

/* Inner Heading */

.inner-heading{
  margin: 0;
  font-weight: 500;
  font-size: 36px;
  line-height: 56%;
  color: #333333;
}

/* Sprite Icons */

.icon{
  width: 21px;
  height: 21px;
  margin-right: 6px;
}

/* Site Header */

.site-header-top{
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  background-color: #F9F8F8;
}

.site-header-top-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 178px;
}

.clinic-address{
  display: flex;
  align-items: center;
  font-style: normal;
  margin-right: 8px;
}

.clinic-address::before{
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 9px;
  background-image: url(../img/home.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  content: "";
}

.phone-numbers{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-right: 20px;
  margin-left: 20px;
}

.phone-numbers::before{
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 9px;
  background-image: url(../img/phone.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.phone-link{
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s ease,
  opacity 0.3s ease;
  white-space: nowrap;
}

.phone-link:hover{
  color: #FFBD54;
}

.phone-link:active{
  color: #333333;
  opacity: 0.5;
}

.dot{
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin: 0 9px;
  background-color: #FFBD54;
}

.working-hours{
  display: flex;
  align-items: center;
}

.working-hours::before{
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 9px;
  background-image: url(../img/schedule.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.working-hours span{
  display: inline-block;
}

.working-hours span:not(:last-child){
  margin-right: 17px;
}

/* Site Navigation */

.site-nav{
  background-color: #FFFFFF;
  border: 1px solid #F3F3F3;
}

.site-nav-content{
  position: relative;
  display: flex;
  justify-content: space-between;
}

.logo-link-wrapper{
  display: flex;
  align-items: center;
  width: 178px;
}

.logo-link{
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  transform: translateY(-50%);
  transition: opacity 0.3s ease;
}

.logo-link:hover{
  opacity: 0.8;
}

.logo-link:active{
  opacity: 0.5;
}

.logo{
  width: 178px;
  height: 87px;
  display: block;
}

/* nav menu */

.nav-menu{
  display: flex;
  justify-content: center;
  max-width: calc(100% - 388px);
  padding: 0;
  margin: 0 15px;
  list-style-type: none;
  flex-wrap: wrap;
}

.nav-item{
  display: flex;
  flex-direction: column;
}

.nav-link{
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 19px 27px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  text-decoration: none;
  transition: background-color 0.3s ease,
  opacity 0.3s ease;
}

.nav-link:hover{
  background-color: #FFBD54;
}

.nav-link:active{
  opacity: 0.5;
}

.nav-link-active::before{
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 12px;
  background-image: url(../img/active.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.nav-link-active:hover,
.nav-link-active:active{
  color: #333;
  background-color: transparent;
  opacity: 1;
}

.btn-ask-question{
  align-self: center;
  display: flex;
  max-height: 61px;
  align-items: center;
  color: #333333;
  background-color: transparent;
  transition: background-color 0.3s ease,
  opacity 0.3s ease;
}

.btn-ask-question::before{
  display: inline-block;
  width: 23px;
  height: 21px;
  margin-right: 5px;
  background-image: url(../img/pet.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.btn-ask-question:hover{
  color: #fff;
  background-color: #333333;
}

.btn-ask-question:active{
  opacity: 0.5;
}

/* MAIN */

.main-section{
  flex-grow: 1;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Promo Section */

.promo-section{
  padding-top: 153px;
  padding-bottom: 400px;
  background-image: url(../img/promo-bg-left.png), 
  url(../img/promo-bg-right.png);
  background-repeat: no-repeat;
  background-position: top -100px left, bottom right;
  background-size: contain, auto;
}

.promo-section-content{
  max-width: 608px;
  margin-left: auto;
}

.page-heading{
  margin: 0;
  margin-bottom: 29px;
  font-size: 70px;
  line-height: 1.2;
  color: #333333;
}

.page-heading span{
  color: #1c97b6;
  display: inline-block;
}

.page-info{
  max-width: 495px;
  margin: 0;
  margin-bottom: 38px;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
}

.btn-our-services{
  min-width: 180px;
  max-width: 180px;
  padding: 15px;
  border-radius: 3px;
  transition: background-color 0.3s ease,
  opacity 0.3s ease,
  color 0.3s ease;
}

.btn-our-services:hover{
  color: #333333;
  background-color: #FFBD54;
}

.btn-our-services:active{
  opacity: 0.5;
}

/* Comments Section */

.comments-section{
  padding-top: 30px;
  padding-bottom: 85px;
}

.comments-section-content{
  max-width: 755px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.comment-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-wrapper::before{
  display: inline-block;
  width: 140px;
  height: 1px;
  margin-bottom: 43px;
  background-color:#DBDBDB;
  content: "";
}

.comment-wrapper::after{
  display: inline-block;
  width: 140px;
  height: 1px;
  margin-top: 35px;
  background-color:#DBDBDB;
  content: "";
}

.comment{
  position: relative;
  width: 753px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #949494;
}

.comment::before{
  position: absolute;
  top: -50%;
  left: -55px;
  transform: translate(-100%, 0);
  display: inline-block;
  width: 142px;
  height: 128px;
  background-image: url(../img/comment-left.png);
  background-repeat: no-repeat;
  background-position: top right;
  content: "";
}

.comment::after{
  position: absolute;
  bottom: -50%;
  right: -36px;
  transform: translate(100%, 50%);
  display: inline-block;
  width: 142px;
  height: 128px;
  background-image: url(../img/comment-right.png);
  background-repeat: no-repeat;
  background-position: top left;
  content: "";
}

.comment-author{
  margin: 0;
  margin-top: 35px;
  font-weight: 500;
  color: #333333;
}

/* Services Section */

.services-section{
  padding: 60px 0;
}

.services-section-content{
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
}

.services-section-heading{
  margin-top: 26px;
  margin-bottom: 80px;
}

.slider-wrapper{
  position: relative;
  z-index: 1;
}

.slider-track{
  display: flex;
  padding: 0;
  padding-bottom: 14px;
  margin: 0;
  list-style-type: none;
  overflow-x: hidden;
}

.slider-item{
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 193px;
}

.slider-item:not(:last-child){
  margin-right: 13px;
}

.slider-item-active .slider-link{
  border-radius: 5px 5px 0 0;
  border: 1px solid transparent;
}

.slider-item-active .slider-link::after{
  position: absolute;
  z-index: 1;
  left: -1px;
  top: 100%;
  box-sizing: content-box;
  display: inline-block;
  width: 100%;
  height: 15px;
  background-color: #fff;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  content: "";
}

.slider-link{
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #fff;
  border: 1px solid #F3F3F3;
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  text-align: center;
  text-decoration: none;
  white-space: wrap;
  transition: color 0.3s ease,
  opacity 0.3s ease;
}

.slider-link::before{
  display: block;
  width: 126px;
  height: 100px;
  margin-bottom: 21px;
  background-image: url(../img/doctor.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.slider-link span{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-link:hover span{
  color: #FFBD54;
}

.slider-link:active{
  opacity: 0.5;
}

.slider-btn{
  position: absolute;
  z-index: 5;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 45px;
  border: none;
  background-color: transparent;
  transition: background-color 0.3s ease,
  opacity 0.3s ease;
}

.slider-btn-prev{
  left: -30px;
  transform: translate(-50%, -50%);
  background-image: url(../img/prev.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.slider-btn-next{
  right: -30px;
  transform: translate(50%, -50%);
  background-image: url(../img/next.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.slider-btn:hover{
  background-color: #fff;
}

.slider-btn:active{
  opacity: 0.5;
}

.service-info{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 42px 35px;
  background-color: #fff;
  border-radius: 0px 5px 5px 5px;
}

.service-info-img{
  display: block;
  margin-right: 67px;
  object-fit: cover;
}

.service-info-text h3{
  margin-bottom: 18px;
}

.service-info-text p{
  margin: 0;
  margin-top: 9px;
}

.service-info-text p:last-child{
  margin-bottom: 34px;
}

.service-buttons{
  display: flex;
  align-items: center;
  margin-top: 34px;
}

.service-yellow-btn{
  max-width: 185px;
  padding: 15px 36px;
  margin-right: 21px;
  background-color: #FFBD54;
  border-radius: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s ease,
  opacity 0.3s ease;
}

.service-yellow-btn:hover{
  color: #FFBD54;
  background-color: #333333;
}

.service-yellow-btn:active{
  opacity: 0.5;
}

.service-black-btn{
  max-width: 241px;
  padding: 15px 36px;
  border-radius: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s ease,
  opacity 0.3s ease;
}

.service-black-btn:hover{
  color: #333;
  background-color: #FFBD54;
}

.service-black-btn:active{
  opacity: 0.5;
}

/* Event Form Section */

.events-form-section{
  position: relative;
  margin-top: 67px;
  margin-bottom: 75px;
  padding: 198px 0 153px;
  /* background-color: #78C0DE; */
  background-image: url(../img/blue-bg-upper.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.events-form-section-content h2{
  margin-bottom: 32px;
  color: #ffffff;
  text-align: left;
}

.events-form{
  display: flex;
  align-items: center;
}

.events-form input{
  padding: 15px 22px;
  margin-right: 21px;
  background-color: #FFFFFF;
  border: none;
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;
}

.events-form input:not(:placeholder-shown):invalid{
  color: #D81D04;
  border: 1px solid #D81D04;
}

.events-form input:valid{
  color: #00B031;
  border: 1px solid #00B031;
}

.events-form input::placeholder{
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.event-form-btn{
  min-width: 188px;
  max-width: 188px;
  padding: 17px 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  border-radius: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  outline: none;
}

.event-form-btn:hover{
  color: #fff;
  background-color: #FFBD54;
}

.event-form-btn:active{
  opacity: 0.5;
}

/* Articles Section */

.articles-section{
  padding-top: 76px;
  padding-bottom: 132px;
}

.articles{
  display: flex;
  overflow: auto;
  margin-right: 30px;
  margin-left: 30px;
}

.article{
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 305px;
  background-color: #FFFFFF;
  border: 1px solid #F3F3F3;
  border-radius: 5px; 
}

.article:not(:last-child){
  margin-right: 24px;
}

.article-img{
  display: block;
  width: 305px;
  height: 180px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.article-info{
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}

.article-initials{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2px;
}

.article-hashtag{
  opacity: 0;
}

.article-hashtag a{
  display: inline-block;
  font-size: 14px;
  line-height: 22px;
  color: #3D9CEA;
  text-decoration: none;
  transition: color 0.3s ease;
}

.article-hashtag a:not(:last-child){
  margin-right: 7px;
}

.article-hashtag a:hover{
  color: #FFBD54;
}

.article-time{
  align-self: flex-end;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.article-heading{
  margin: 0;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 25px;
  color: #333333;
}

.article-text{
  flex-grow: 1;
  margin: 0;
  margin-bottom: 34px;
  font-size: 16px;
  line-height: 20px;
  max-height: 60px;
  overflow: hidden;
}

.btn-read-more{
  justify-content: left;
  padding: 0;
  margin-bottom: 16px;
  color: #333333;
  transition: color 0.3s ease,
  opacity 0.3s ease;
  background-color: transparent;
}

.btn-read-more::before{
  display: inline-block;
  width: 23px;
  height: 21px;
  margin-right: 5px;
  background-image: url(../img/pet.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.btn-read-more:hover{
  color: #FFBD54;
}

.btn-read-more:active{
  opacity: 0.5;
}

/* Active Article */

.article-active{
  display: flex;
  flex-direction: row;
  width: 640px;
}

.article-active .article-img{
  width: 305px;
  height: auto;
  border-radius: 5px 0 0 5px;
}

.article-active .article-info{
  padding: 40px 32px;
}

.article-active .article-initials{
  margin-bottom: 29px;
}

.article-active .article-hashtag{
  opacity: 1;
}

.article-active .article-heading{
  font-size: 26px;
  line-height: 29px;
  margin-bottom: 15px;
}

.article-active .article-text{
  flex-grow: 1;
  max-height: 180px;
}

.article-active .btn-read-more{
  margin-bottom: 0;
}


/* Feedback Section */

.feedback-section{
  margin-top: 133px;
  margin-bottom: 123px;
  background-color: #333;
  background-image: url(../img/form-bg.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
}

.feedback-section-content{
  display: flex;
}

.feedback-map-link{
  display: block;
}

.feedback-map{
  display: block;
}

.feedback-section-info{
  max-width: 710px;
  padding: 48px 150px;
}

.feedback-section-heading{
  margin: 14px 0;
  
  text-align: left;
  color: #fff;
}

.feedback-subtitle{
  max-width: 335px;
  margin: 0;
  margin-bottom: 29px;
  font-size: 16px;
  line-height: 20px;
}

.feedback-form{
  display: flex;
  flex-direction: column;
}

.feedback-form input{
  width: 375px;
  padding: 16px 22px;
  border: none;
  margin-bottom: 14px;
  outline: 0;
}

.feedback-form input::placeholder{
  font-size: 16px;
  line-height: 21px;
}

.feedback-form input:not(:placeholder-shown):invalid{
  color: #D81D04;
  border: 1px solid #D81D04;
}

.feedback-form input:valid{
  color: #00B031;
  border: 1px solid #00B031;
}

.feedback-form textarea{
  width: 375px;
  height: 165px;
  padding: 16px 22px;
  margin-bottom: 30px;
  resize: none;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
  overflow: auto;
  outline: 0;
}

.feedback-yellow-btn{
  min-width: 226px;
  max-width: 226px;
  padding: 15px;
  color: #ffffff;
  background-color: #FFBD54;
}

/* Site Footer */

.site-footer{
  margin-top: 124px;
  padding-top: 54px;
  padding-bottom: 23px;
  background-color: #F3F3F3;
}

.footer-nav-menu{
  display: flex;
  flex-direction: column;
}

.site-footer-content{
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.footer-logo-link{
  vertical-align: baseline;
}

.footer-logo{
  display: block;
  width: 158px;
  height: 77px;
}

.footer-nav-menu{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 300px;
  padding: 0;
  margin: 0;
  margin: 0 30px;
  list-style-type: none;
}

.footer-nav-item{
  min-width: 150px;
  margin-bottom: 14px;
}

.footer-nav-link{
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s ease,
  opacity 0.3s ease;
}

.footer-nav-link:hover{
  color: #FFBD54;
  background-color: transparent;
}

.footer-nav-link:active{
  opacity: 0.5;
}

.footer-right-wrapper{
  display: flex;
  justify-content: space-between;
  width: 610px;
}

.footer-working-hours{
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.footer-working-hours::before{
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(calc(-100% - 9px));
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url(../img/schedule.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.footer-clinic-address{
  position: relative;
  margin: 0 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  color: #333333;
}

.footer-clinic-address::before{
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(calc(-100% - 9px));
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url(../img/home.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  content: "";
}

.footer-phone-numbers{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 30px;
}

.footer-phone-numbers::before{
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(calc(-100% - 9px));
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url(../img/phone.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.footer-phone-numbers a{
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s ease,
  opacity 0.3s ease;
  white-space: nowrap;
}

.footer-phone-numbers a:not(:last-child){
  margin-bottom: 4px;
}

.footer-phone-numbers a:hover{
  color: #FFBD54;
}

.footer-phone-numbers a:active{
  color: #333333;
  opacity: 0.5;
}

/* SERVICES PAGE */

.services-promo{
  padding-left: 110px;
  padding-top: 118px;
  padding-bottom: 140px;
  background-image: url(../img/service-bird.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}

.services-promo-content{
  max-width: 450px;
}

.services-promo-heading{
  margin: 0;
  margin-bottom: 21px;
  font-size: 70px;
  line-height: 1.2;
  color: #333;
}

.services-promo-text{
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

/* Services List */

.services-services-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.services-service{
  position: relative;
  width: 305px;
  margin-bottom: 34px;
  padding: 58px 20px 45px 50px;
  background-color: #FFFFFF;
  border-radius: 5px 5px 0px 0px;
}

.services-service:not(:nth-child(4n)){
  margin-right: 30px;
}

.services-service::after{
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 108px;
  height: 95px;
  background-image: url(../img/grey-pet.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.services-service::before{
  display: inline-block;
  width: 86px;
  height: 80px;
  margin-bottom: 22px;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
  content: "";
}

.service-inspection::before{
  background-image: url(../img/doctor.png);
}

.service-surgical::before{
  background-image: url(../img/xirurgia.png);
}

.service-dermotology::before{
  background-image: url(../img/dermotologia.png);
}

.service-lab::before{
  background-image: url(../img/lab.png);
}

.service-ophthalmology::before{
  background-image: url(../img/oftalmologia.png);
}

.service-ultrasound::before{
  background-image: url(../img/ultrasound.png);
}

.service-chipping::before{
  background-image: url(../img/chipping.png);
}

.service-passport::before{
  background-image: url(../img/passport.png);
}

.service-vaccination::before{
  background-image: url(../img/vaccination.png);
}

.service-dentistry::before{
  background-image: url(../img/dentistry.png);
}

.service-home-call::before{
  background-image: url(../img/home-call.png);
}

.services-service:hover{
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
}

.services-service:hover .services-service-btn{
  background-color: #000;
}

.services-service-name{
  min-width: 230px;
  margin: 0;
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
  color: #333333;
}

.services-service-text{
  margin: 0;
  margin-bottom: 26px;
  font-size: 16px;
  line-height: 20px;
}

.services-service-btn{
  max-width: 156px;
  padding: 15px;
  border-radius: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.services-service-btn-yellow{
  background-color:  #FFBD54;;
}

.services-service-btn-blue{
  background-color: #78C0DE;
}

/* Responsive */

@media only screen and (max-width: 1349px){
  .services-service{
    width: 350px;
  }
  
  .services-service:not(:nth-child(4n)){
    margin-right: 0;
  }
  
  .services-service:not(:nth-child(3n)){
    margin-right: 30px;
  }
}

@media only screen and (max-width: 1230px){
  .site-header-top-content{
    padding-left: 0;
  }
  
  .logo-link{
    position: static;
    transform: none;
  }
  
  .logo{
    width: 108px;
    height: 53px;
  }
  
  .promo-section{
    background-position: top -100px left -100px, bottom right;
  }
  
  .page-heading{
    font-size: 65px;
  }
  
  .services-section-content{
    max-width: 900px;
  }
  
  .service-info-img{
    width: 350px;
    height: 300px;
  }
  
  .service-info-text{
    font-size: 16px;
  }

  .events-form-section{
    margin: 0;
  }
  
  .events-form-section-content{
    padding-left: 100px;
  }
  
  .articles{
    margin-left: 60px;
    margin-right: 60px;
  }
  
  .feedback-section {
    background-position: top 50px right -50px;
  }
  
  .services-service{
    width: 320px;
  }
}

@media only screen and (max-width: 1190px){
  .nav-menu{
    justify-content: space-between;
  }
  
  .nav-item{
    padding: 15px 20px;
  }
  
  .nav-link{
    padding: 0;
  }
  
  .nav-link:hover{
    color: #FFBD54;
    background-color:transparent;
  }
  
  .promo-section{
    padding-top: 50px;
    padding-bottom: 150px;
    background-image: url(../img/promo-bg-right.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto;
  }
  
  .promo-section-content{
    margin-left: 100px;
    margin-right: auto;
  }
}

@media only screen and (max-width: 1149px){
  .nav-menu{
    max-width: 480px;
  }
  .nav-item{
    width: 160px;
  }
  
  .services-service{
    width: 305px;
  }
}

@media only screen and (max-width: 1100px){
  .footer-right-wrapper{
    flex-direction: column;
    max-width: 200px;
  }
  
  .footer-clinic-address{
    margin: 15px 30px;
  }
}

@media only screen and (max-width: 1014px){
  .section-heading{
    font-size: 36px;
  }

  .site-header-top-content{
    flex-direction: column;
    padding: 20px 0;
  }
  
  .phone-numbers{
    margin: 15px 0;
  }
  
  .comment{
    width: 550px;
  }

  .comment-author{
    margin-top: 20px;
  }

  .services-section{
    padding: 15px 0;
  }

  .services-section-content{
    max-width: 750px;
  }

  .services-section-heading{
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .slider-item{
    width: 150px;
  }

  .slider-link{
    padding: 30px 15px;
  }

  .slider-link span{
    font-size: 14px;
  }

  .service-info{
    padding: 25px 15px;
  }

  .service-info-img{
    margin-right: 45px;
    width: 200px;
    height: 250px;
  }

  .inner-heading{
    font-size: 28px;
  }

  .service-info-text p{
    font-size: 14px;
  }

  .service-buttons{
    margin-top: 20px;
  }

  .service-yellow-btn,
  .service-black-btn{
    padding: 12px 28px;
  }

  .events-form-section-content{
    padding-left: 50px;
  }

  .events-form input{
    padding: 10px 12px;
  }

  .event-form-btn{
    min-width: 150px;
    padding: 12px;
  }

  .services-service{
    width: 400px;
  }
  
  .services-service:not(:nth-child(3n)){
    margin-right: 0;
  }
  
  .services-service:not(:nth-child(2n)){
    margin-right: 30px;
  }
}

@media only screen and (max-width: 980px){
  .promo-section-content{
    margin-left: 50px;
  }
  
  .page-heading{
    font-size: 55px;
  }
  
  .page-info{
    font-size: 14px;
  }
  
  .services-promo{
    padding-left: 0;
    background-image: none;
  }
  
  .services-promo-content{
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}

@media only screen and (max-width: 869px){
  .nav-menu{
    max-width: 320px;
  }
  
  .comment::before,
  .comment::after{
    display: none;
  }

  .services-section-content{
    max-width: 600px;
  }

  .service-info-img{
    margin-right: 25px;
    width: 150px;
    height: 250px;
  }

  .btn{
    font-size: 14px;
    line-height: 1.2;
  }

  .events-form-section{
    padding: 60px 0;
    margin: 50px 0;
    background-color: #78C0DE;
    background-image: none;
  }

  .events-form-section-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .events-form-section-content h2{
    text-align: center;
    margin-bottom: 18px;
  }

  .service-black-btn{
    max-width: 200px;
  }
  
  .services-service{
    width: 350px;
  }
}

@media only screen and (max-width: 769px){
  .promo-section-content{
    max-width: 470px;
    margin-left: 0;
  }
  
  .page-heading{
    font-size: 50px;
  }
  
  .page-info{
    font-size: 12px;
  }
  
  .site-footer-content{
    flex-direction: column;
  }
  
  .footer-nav-menu{
    max-width: 100%;
    margin: 30px 0;
  }
  
  .footer-nav-item{
    min-width: 0;
    margin-right: 30px;
  }
  
  .footer-right-wrapper{
    flex-direction: row;
    max-width: 100%;
  }
  
  .footer-clinic-address{
    margin: 0 30px;
  }
  
  .services-service{
    width: 305px;
  }
  
  .services-promo-content{
    max-width: 500px;
  }
}

@media only screen and (max-width: 679px){
  .site-nav-content{
    flex-direction: column;
    align-items: center;
  }
  
  .nav-menu{
    max-width: 100%;
  }
  
  .logo-link-wrapper{
    justify-content: center;
    margin-top: 15px;
  }
  
  .btn-ask-question{
    width: 100%;
  }
  
  .promo-section{
    background-image: none;
    padding-bottom: 70px;
  }
  
  .promo-section-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .comments-section{
    padding: 0;
  }
  
  .comment{
    width: 350px;
    font-size: 16px;
    line-height: 20px;
  }
  
  .comment-author{
    font-size: 18px;
    margin-top: 15px;
  }

  .services-section-content{
    max-width: 490px;
  }

  .services-section-heading{
    font-size: 30px;
    margin-bottom: 25px;
  }

  .slider-track{
    flex-direction: column;
    align-items: center;
    max-height: 600px;
    margin-bottom: 30px;
    overflow: auto;
  }

  .slider-item{
    width: 300px;
    margin-bottom: 30px;
  }

  .slider-link span{
    font-size: 18px;
  }

  .slider-item-active .slider-link::after{
    display: none;
  }

  .slider-btn{
    display: none;
  }

  .slider-link::before{
    width: 100px;
    height: 60px;
  }

  .service-info-img{
    display: none;
  }
  
  .services-service{
    width: 500px;
    padding-left: 150px;
  }
  
  .services-service::before{
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
  }
  
  .services-service:not(:nth-child(2n)){
    margin-right: 0;
  }
  
  .site-footer{
    padding-top: 50px;
  }
  
  .footer-nav-menu{
    max-width: 300px;
  }
  
  .footer-nav-item{
    min-width: 150px;
    margin-right: 0;
  }
}

@media only screen and (max-width: 560px){
  .nav-menu{
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .promo-section-content{
    max-width: 350px;
  }
  
  .page-heading{
    font-size: 40px;
    margin-bottom: 19px;
  }
  
  .page-info{
    margin-bottom: 19px;
  }

  .events-form{
    flex-direction: column;
    min-width: 250px;
    max-width: 350px;
  }

  .events-form input{
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .event-form-btn{
    min-width: 100%;
    max-width: 100%;
  }
  
  .footer-right-wrapper{
    flex-direction: column;
  }
  
  .footer-clinic-address{
    margin: 15px 30px;
  }
}

@media only screen and (max-width: 550px){
  .comment{
    width: 300px;
    font-size: 14px;
  }

  .comment-author{
    font-size: 16px;
  }

  .service-info-text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .service-buttons{
    flex-direction: column;
    align-items: start;
  }

  .service-yellow-btn{
    margin-bottom: 20px;
  }

  .services-promo{
    padding: 60px 0;
  }
  
  .services-promo-content{
    max-width: 350px;
  }
  
  .services-promo-heading{
    font-size: 50px;
  }
  
  .services-service{
    width: 400px;
  }
}

@media only screen and (max-width: 450px){
  .section-heading{
    font-size: 28px;
  }

  .site-header-top-content{
    align-items: start;
  }
  
  .phone-numbers{
    flex-direction: column;
    align-items: start;
  }
  
  .phone-numbers::before{
    display: none;
  }
  
  .phone-link{
    display: flex;
    align-items: center;
  }
  
  .phone-link::before{
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 9px;
    background-image: url(../img/phone.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    content: "";
  }
  
  .dot{
    display: none;
  }
  
  .promo-section-content{
    max-width: 280px;
  }
  
  .page-heading{
    font-size: 32px;
  }
  
  .services-promo-content{
    max-width: 300px;
  }
  
  .services-promo-heading{
    font-size: 40px;
  }
  
  .services-promo-text{
    font-size: 12px;
    line-height: 1.2;
  }
  
  .services-service::before{
    position: static;
    transform: translateY(0);
  }
  .services-service{
    width: 300px;
    padding-left: 50px;
  }
}

@media only screen and (max-width: 361px){
  .site-nav-content{
    align-items: start;
  }
  
  .logo-link-wrapper{
    justify-content: start;
  }
  
  .btn-ask-question{
    justify-content: start;
    padding: 0;
    margin-bottom: 20px;
  }
  
  .btn-ask-question:active,
  .btn-ask-question:hover{
    background-color: transparent;
    color: #FFBD54;
    opacity: 1;
  }
}
